<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182609954574-ossqjo3grau108lknc5kpap0pbn52vvr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182609954574-ossqjo3grau108lknc5kpap0pbn52vvr</string>
	<key>API_KEY</key>
	<string>AIzaSyBIYdl06qb-5I-UjuKlEu2lbLKl9H9j1q4</string>
	<key>GCM_SENDER_ID</key>
	<string>182609954574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webdashboard</string>
	<key>PROJECT_ID</key>
	<string>webdashboard-c6d24</string>
	<key>STORAGE_BUCKET</key>
	<string>webdashboard-c6d24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182609954574:ios:80d88eea90d6410f5c795f</string>
</dict>
</plist>